.Container {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}
.TopContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.TableWrapper {
	margin-top: 40px;
	display: flex;
	width: 100%;
}
.Table {
	width: 100%;
}
.TableData {
    text-align: center;
}
